html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #fff4b8;
}
h2{
    margin-left: 50px;
}
.cabecalho{
    background-color: #ffd900;
    height: 80px;
}
.cabecalho p{
  background-color: white;
  padding: 6px;
  border-radius: 10px;
}
.lista__cabecalho{
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
    font-size: 20px;
}
.cabecalho__click{
    background-color: white;
    color: black;
    border: 1px solid black;
    text-decoration: inherit;
    padding: 6px;
    border-radius: 10%;
}
.cabecalho__click:hover{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
    
}
.imagem__principal{
  display: flex;
  flex-direction: column;
  align-items:first baseline;
  height: calc(100vh - 80px); 
  background-image: url('../imagens/DemonSlayer.jpg'); 
  background-size: cover;        
  background-position: center;   
  background-repeat: no-repeat;  
}
.overtext{
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 0.5 = 50% de opacidade */
}
.titulo__imagem{
    color: white;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
.descricao__imagem{
    font-size: 20px;
    margin-left: 50px;
    margin-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.imdb{
    font-size: 20px;
    color: rgba(204, 204, 204, 0.616);
    margin-left: 50px;
    word-spacing: 5px;
}
.classificacao{
    margin-left: 50px;
    font-size: 20px;
    text-decoration: underline;
    color: white;
    word-spacing: 5px;
}
.overtext button{
  margin-left: 50px;
  padding: 10px 20px;
  background-color: white;
  border: none;
  color: black;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  font-size: 16px;
  transition: background-color 0.3s;
}
.overtext button:hover {
  background-color: #f8e263;
}
.footer{
  height: 130px;
  background-color: #ffd900;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo__footer{
  font-size: 20px ;
  background-color: white;
  padding: 6px;
  border-radius: 10px;
}
.footer article {
  text-decoration: none;
  color:black;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}
.footer article p {
  margin-left: 10px;
}
.footer a:hover{
  color: rgb(115, 116, 117);
}
